@import "tailwindcss";
@import "../../../libs/ui/src/lib/global.css";
@source "../../../libs/ui/src/lib/";
@source "../../../libs/app-react/src/lib/";
@source "../../../libs/srs-react/src/lib/";
@source "../../../libs/ai-react/src/lib/";
@source "../";

[data-tauri-decorum-tb] {
  background-color: var(--bg-body);
  border-bottom: 2px solid var(--border-main);
  height: var(--titlebar-height) !important;
}

[data-tauri-decorum-tb] button.decorum-tb-btn,
[data-tauri-decorum-tb] button[id^="decorum-tb-"] {
  height: var(--titlebar-height) !important;
  width: 48px !important;
}

.dark [data-tauri-decorum-tb] button:not(#decorum-tb-close):hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
}
